@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}






/* global.css or global.scss */

/* Flip Animation */
.backface-hidden {
  backface-visibility: hidden;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 3s ease-in-out, background-color 0s; /* Transition for transform */
}

.front {
  transform: rotateY(0deg);
  z-index: 2;
  background-color: #fff; /* Same background color as front */
}

.back {
  transform: rotateY(180deg);
  z-index: 1;
  background-color: #fff; /* Same background color as back */
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.rotate-y-0 {
  transform: rotateY(0deg);
}
